<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.dao.AdminReportMapper">
    <resultMap id="BaseResultMap" type="com.salary.pojo.Timecard">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
        <result column="is_save" jdbcType="BOOLEAN" property="isSave" />
        <result column="start_time" jdbcType="VARCHAR" property="startTime" />
        <result column="end_time" jdbcType="VARCHAR" property="endTime" />
        <result column="duration" jdbcType="INTEGER" property="duration" />
    </resultMap>
    <sql id="Base_Column_List">
        id, employee_id, is_save, start_time, end_time, duration
    </sql>
    <select id="selectTimeCard" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"></include>
        from time_card where employee_id = #{employeeId} order by start_time;
    </select>
    <select id="selectName" resultMap="BaseResultMap" >
        select username
        from user
        where id = #{employeeId};
    </select>
</mapper>