<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.dao.PurchaseMapper">
    <resultMap id="BaseResultMap" type="com.salary.pojo.PurchaseOrder">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="pay" jdbcType="DECIMAL" property="pay" />
    </resultMap>
    <select id="selectAllPay" resultMap="BaseResultMap">
        select pay from purchase_order where employee_id = #{employeeId};
    </select>
</mapper>