<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.dao.TimeCardMapper">

    <sql id="Base_Column_List">
        id, employee_id, duration,is_save, start_time, end_time
    </sql>
    <sql id="project">
        id,project_name,duration
    </sql>
    <insert id="insertTimeCardProject">
        insert into time_card_project (<include refid="project"/>)
        values
        <foreach collection="data" item="item" separator=",">
            (#{id},#{item.projectName},#{item.duration})
        </foreach>
    </insert>
    <insert id="insertTimeCard" >
        insert into time_card (<include refid="Base_Column_List"/>)
        values
        (#{id},#{employeeId},#{duration},#{isSave},#{startTime},#{endTime});
    </insert>
    <update id="updateTimeCard">
        UPDATE time_card
        <set>
            <if test="duration != null">
                duration = #{duration},
            </if>
            <if test="isSave != null">
                is_Save = #{isSave},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectTimeCardsByEmployeeId" resultType="com.salary.pojo.TimeCard">
        select
        <include refid="Base_Column_List"/>
        from time_card where employee_id = #{employeeId}
                         and start_time > #{startTime}
                         and end_time &lt; #{endTime}
                            order by start_time;
    </select>
    <select id="selectProjByTimeCardId" resultType="com.salary.pojo.TimeCardProject">
        select
            <include refid="project"/>
        from time_card_project where id = #{timeCardId} order by project_name;
    </select>
    <select id="selectEmployeeIdByTimeCardId" resultType="java.lang.String">
        select employee_id
        from time_card
        where id = #{timeCard};
    </select>
    <select id="selectSumById" resultType="java.lang.Long">
        select count(id) from time_card where employee_id = #{employeeId};
    </select>
    <select id="selectPageTimeCardById" resultType="com.salary.pojo.TimeCard">
        select 
            <include refid="Base_Column_List"/>
            from time_card where employee_id = #{employeeId}
            order by start_time
            limit #{pageSize} offset #{offset} ;
    </select>
    <select id="selectAvailableTimeCardById" resultType="com.salary.pojo.TimeCard">
        select
        <include refid="Base_Column_List"/>
        from time_card where employee_id = #{employeeId} and is_save = false
        order by start_time;
    </select>
    <select id="selectCntById" resultType="java.lang.Integer">
        select count(id) from time_card where id = #{id};
    </select>
    <select id="selectTimeCardsById" resultType="com.salary.pojo.TimeCard">
        select <include refid="Base_Column_List"/>
        from time_card where id = #{id};
    </select>
    <!--    <select id="selectFirstById" resultType="com.salary.pojo.TimeCard">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from time_card where employee_id = #{employeeId} and-->
<!--                        #{startTime} >= start_time and-->
<!--                        end_time >= #{endTime} order by start_time limit 1;-->
<!--    </select>-->
    <select id="selectLast" resultType="com.salary.pojo.TimeCard">
        select
        <include refid="Base_Column_List"/>
        from time_card order by start_time desc limit 1;
    </select>
</mapper>